html, body, h1, h2, h3, h4, h5 p{
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #ffffff;  
    color: #000000;
    font-family: 'Oswald', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

header {
    display: flex;
    padding: 0 2em;
    background-color: #f6b948;
    justify-content: space-between;
    width: 100%;
    color: #000000;  
}

nav {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    justify-content: space-between;
    padding: 0 75px 0px 0;
}

nav a {
    text-decoration: none;
    flex-grow: 1;
    padding: 30px 30px;
    text-align: center;
    font-size: 1em ;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    margin: 0 1em;
}

span a {
    display: block;
    padding: 16px;
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    height: 2px;
    width: 0;
    background: transparent;
    transition: all 0.3s;
}

a:hover::after {
    width: 40%;
    left: 30%;
    background: #000000;
}

.logo {
    padding: 0px 30px;
}

#mainImage {
    width: 100%;
    height: 580px;
    overflow: hidden;
}

#mainImage img{
    width: 100%;
    position: relative;
}

#mainImageTag {
    position: absolute;
    max-width: fit-content;
    background-color: #ffffff;
    top: 550px;
    left: 35%;
    z-index: 9999;
    padding: 10px;
    font-size: 2em;
    font-weight: bolder;
}

#recpQuickInfoContainer {
    background-color: #c1c1c1;
    padding: 20px 70px;
}

#recpQuickInfo {
    width: 60%;
    display: flex;
    /* flex-direction: column; */
    flex-grow: 2;
}

#recpQuickInfo div {
    display: flex;
    /* padding-right: 75; */
    flex-direction: column;
}

#recpQuickInfo p {
    font-size: 1.2em;
}

.bold {
    font-weight: bolder;
    margin-bottom: 0;
    /* font-size: 1em; */  
}

.light {
    font-weight: 100;
    margin-bottom: 0;
    padding: 0 5em 0 .5em;
    color: #4e4e4e;
    /* font-size: 1em; */
}

.content {
    padding: 70px;
}

.content div {
    display: flex;
    justify-content: space-between;
}

.content img{
    max-width: 100%;
}

.subImageContainer {
    max-width: 100%;
    gap: 30px;
}

.subImage {
    flex-direction: column;
    width: 30%;
    flex-grow: 1;
}

.subImage2 {
    flex-direction: column;
    width: 30%;
    flex-grow: 1;
}

.subImage img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 250px;
    overflow: hidden;
}

.subImage2 img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.subImage:nth-last-child(1){
    padding: 0;

}

.imgTag {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 350px;
    padding: 10px 0;
    margin: 0;
}

.imgTag2 {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 300px;
    padding: 10px 0;
    margin: 0;
}

#HROW {
    background-color: #c1c1c1;
}

#whereEat img{
    padding: 5px;
    background-color: #c1c1c1;
}

#review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
}

#review h1 {
    font-size: 3em;
}

#review p {
    background-color: #c1c1c1;
    padding: 1em 3em;
    margin-top: 3em;
}

.stars {
    width: 5em;
    padding-right: 10px;
}

.print {
    width: 3em;
}

#review div {
    padding: 10px;
    display: flex;
    align-content: center;
}

#review button {
    background-color: rgb(160, 33, 33);
    color: #ffffff;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

#contentRecp {
    padding:  0 75px 75px 75px;
    display: flex;
    /* width: 50%; */
}

#ingredients {
    width: 50%;
}

#directions {
    width: 50%;
}

li {
    color: #4e4e4e;
}

#directions ol li {
    padding-bottom: 10px;
}

h4 {
    padding: 0 0 0 2.5em;
    margin: 0;
}

.bottomOL {
    margin-top: 0;
}

.video {
    display: flex;
    padding: 1em;
    justify-content: center;
}

footer {
    display: flex;
    padding: 1em;
    background-color: #f6b948;
    justify-content: space-between;
    width: 100%;
    color: #000000; 
    align-items: center;
}
